<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwc.provider2.dao.MsgInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wwc.provider2.bean.MsgInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
    <result column="biz_type" property="bizType" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="msg_result" property="msgResult" jdbcType="VARCHAR" />
    <result column="msg_desc" property="msgDesc" jdbcType="VARCHAR" />
    <result column="atime" property="atime" jdbcType="TIMESTAMP" />
    <result column="try_count" property="tryCount" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, biz_id, biz_type, msg, msg_result, msg_desc, atime, try_count
  </sql>

  <select id="queryList" resultMap="BaseResultMap" parameterType="com.wwc.provider2.bean.MsgInfo" >
    select
    <include refid="Base_Column_List" />
    from app_msg_info
    <where>
      <if test="id != null" >
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="bizId != null" >
        and biz_id = #{bizId,jdbcType=VARCHAR}
      </if>
      <if test="bizType != null" >
        and biz_type = #{bizType,jdbcType=VARCHAR}
      </if>
      <if test="msg != null" >
        and msg = #{msg,jdbcType=VARCHAR}
      </if>
      <if test="msgResult != null" >
        and msg_result = #{msgResult,jdbcType=VARCHAR}
      </if>
      <if test="msgDesc != null" >
        and msg_desc = #{msgDesc,jdbcType=VARCHAR}
      </if>
      <if test="atime != null" >
        and atime = #{atime,jdbcType=TIMESTAMP}
      </if>
      <if test="tryCount != null" >
        and try_count = #{tryCount,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <insert id="insertSelective" parameterType="com.wwc.provider2.bean.MsgInfo" >
    insert into app_msg_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bizId != null" >
        biz_id,
      </if>
      <if test="bizType != null" >
        biz_type,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="msgResult != null" >
        msg_result,
      </if>
      <if test="msgDesc != null" >
        msg_desc,
      </if>
      <if test="atime != null" >
        atime,
      </if>
      <if test="tryCount != null" >
        try_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null" >
        #{bizId,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null" >
        #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="msgResult != null" >
        #{msgResult,jdbcType=VARCHAR},
      </if>
      <if test="msgDesc != null" >
        #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="atime != null" >
        #{atime,jdbcType=TIMESTAMP},
      </if>
      <if test="tryCount != null" >
        #{tryCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wwc.provider2.bean.MsgInfo" >
    update app_msg_info
    <set >
      <if test="bizId != null" >
        biz_id = #{bizId,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null" >
        biz_type = #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="msgResult != null" >
        msg_result = #{msgResult,jdbcType=VARCHAR},
      </if>
      <if test="msgDesc != null" >
        msg_desc = #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="atime != null" >
        atime = #{atime,jdbcType=TIMESTAMP},
      </if>
      <if test="tryCount != null" >
        try_count = #{tryCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>